@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

body,.btn-bg{
    background-color: #f3e9f1;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.navbarContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-header, .cardProduct, .imgProduct, #cartValidation, .card{
    border-radius: 15px;
}


.cardProductItem {
    
    box-shadow:2px 2px 10px;
    transform: scale(1);
    transition: transform 200ms;
}
.cardProductItem:hover
{
    transform: scale(1.03);
    box-shadow:5px 5px 20px;
}

.card-img{
    object-fit: cover;
    height: 300px;
}


.quantity{
    width: 50px;
}

.order_slip_libelle {
    height: 3rem;
    background-color: #f3e9f1;
    border-bottom: solid 2px black;
    text-align: center;
}

/* ####################### */
/*######## ID  #########*/
/* ####################   */

#cartValidation, #addToCart, #cart, #index
{
    transform: scale(1);
    transition: transform 200ms;
}
#cartValidation:hover, #addToCart:hover, #cart:hover,  #index:hover
{
    transform: scale(1.1);
    box-shadow:5px 5px 20px;
    color: black;
}
#index
{
    transform: scale(1);
    transition: transform 200ms;
}
#index:hover
{
    transform: scale(1.1);
    box-shadow:5px 5px 20px;
    color: black;
}
#item_container, #cart{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

#totalPrice {
    font-size: 1.5rem;
}

#cartLength {
    font-size:1rem;
    color: white;
    position: relative;
    right: 35px;
}
/* ########################## */
/* ####           ##########  */
/* ########################## */
select{
    width: 200px;
}


input {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
}
